<div class="container w-full px-2 flex justify-start">
  <%= render 'shared/color_picker/color_picker_field', color: 'white' %>
  <%= render 'shared/color_picker/color_picker_field', color: 'orange' %>
  <%= render 'shared/color_picker/color_picker_field', color: 'red' %>
  <%= render 'shared/color_picker/color_picker_field', color: 'purple' %>
  <%= render 'shared/color_picker/color_picker_field', color: 'pink' %>
  <%= render 'shared/color_picker/color_picker_field', color: 'blue' %>
  <%= render 'shared/color_picker/color_picker_field', color: 'blue' %>
  <%= render 'shared/color_picker/color_picker_field', color: 'green' %>
  <%= render 'shared/color_picker/color_picker_field', color: 'indigo' %>
  <%= render 'shared/color_picker/color_picker_field', color: 'gray' %>
</div>