<div style="background: #FCFCFB" class="w-5/12 rounded flex justify-center shadow-md items-center p-3 pb-5">
  <svg class="w-4 h-4 text-blue-700 mx-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path>
  </svg>
  <h1 class="text-blue-700 underline">
    <%= link_to @project.name, [current_user, @project] %> >

    <%= link_to "Message Board", account_project_message_board_path(current_user.account, @project, @project.message_board) %>
  </h1>
</div>


<section
  data-controller="todos notification collapse"
  data-notification-content-value="<%= notice %>"
  style="margin-top: -20px"
  class="bg-white p-2 w-6/12 min-h-screen shadow flex flex-col items-center">

  <div class="flex relative" data-controller="todo-list-display">
    <button
      data-action="click->todo-list-display#toggleContainerVisibility"
      class="rounded-full border px-3 py-2 text-xs todo-list__display-settings flex items-center focus:shadow-outline focus:outline-none">
      All messages
    </button>

    <ul
      data-todo-list-display-target="settingsContainer"
      class="absolute bg-white rounded-md shadow py-2 text--gray hidden" style="width: 250px; top: 40px">

      <li>
        <button class="mt-2 p-1 w-full hover:bg-blue-100 text-center font-medium focus:outline-none">
          All messages
        </button>
      </li>

      <button class="mt-2 p-1 w-full hover:bg-blue-100 text-center focus:outline-none">
        View to-dos as cards
      </button>
    </ul>
  </div>


  <main class="w-full">
    <%= form_for [@project.message_board, @message], html: {class: "flex flex-col items-center"} do |f| %>
      <div class="w-9/12 bg--green h-20">

      <%= f.text_field :title, placeholder: "Pick a title", class: "w-full focus:outline-none w-full h-full text-4xl font-medium text-darker" %>
      </div>

      <section class="w-full p-2 border-b border-gray-300 flex flex-col items-center">
        <div class="w-9/12 border--green">

        <%= f.rich_text_area :body, class: "border-0 w-9/12", placeholder: "write away" %>
        </div>
      </section>

      <footer class="w-9/12 flex mt-5">
        <button class="flex items-center px-3 text-xs text-white py-2 rounded-full bg--green focus:outline-none focus:shadow-outline">
          <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
          </svg>
          Save as draft
        </button>

        <%= link_to "Cancel", :back,  class:"mx-2 border border--green text-sm px-3 py-2 rounded-full text--green" %>
      </footer>
    <% end %>
  </main>

</section>