<p id="notice"><%= notice %></p>

<h1>T1s</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t1s.each do |t1| %>
      <tr>
        <td><%= link_to 'Show', t1 %></td>
        <td><%= link_to 'Edit', edit_t1_path(t1) %></td>
        <td><%= link_to 'Destroy', t1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T1', new_t1_path %>
