<div class="bg-white rounded-md shadow p-2 w-7/12 flex flex-col justify-start items-center h-screen">
  <img class="self-center mt-5 mb-1" width="100" height="100" src="https://bc3-production-assets-cdn.basecamp-static.com/assets/logos/paperclip-logo-349bf403c234be9d67457f2825054e138f6d54affe467717f3da909cab741cba.svg" alt="">
  <h1 class="text-2xl text--darker font-medium self-center">
    All right, let’s get your project started!
  </h1>

  <%= form_for [@account, @project], html: {class: "flex flex-col my-2 w-full md:w-6/12"} do  |f| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this t1 from being saved:</h2>

        <ul>
          <% @project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.label :name, "Whats your project name", class: "font-medium" %>
    <%= f.text_field :name,  class: "w-full rounded bg-white focus:outline-none focus:shadow-outline border border-gray-500 p-1 my-2", placeholder: "Eg: Rebuild basecamp" %>

    <%= f.label :description, "Any project details?", class: "font-medium mt-2" %>
    <%= f.text_area :description,  class: "w-full rounded bg-white focus:outline-none resize-none focus:shadow-outline border border-gray-500 p-1 my-4", placeholder: "Eg: Rebuild basecamp" %>


    <footer class="flex justify-center mt-2">
      <button type="submit" class="rounded-full p-2 text-white bg--green focus:outline-none focus:shadow-outline">
        Create this project
      </button>
    </footer>
  <% end %>

</div>