<article class="my-3 w-full" data-controller="todos">
  <%= render 'todo_sets/partials/header', todo_set: todo_set %>

  <main class="w-full p-2 px-5" id="todos-<%= todo_set.id %>">
    <% if todo_set.todos.count.positive? %>
      <% todo_set.todos.not_completed.each do |todo| %>
        <%= render todo, todo_set: todo_set %>
      <% end %>
    <% end %>

    <section class="w-full">
      <% todo_set.todo_groups.each do |set| %>
        <%= render 'todo_groups/todo_group', group: set %>
      <% end %>
    </section>
  </main>

  <section class="w-full">
    <%= form_for [TodoSet.new],
                 url: todo_set_todo_groups_path(todo_set_id: todo_set),
                 html: {class: "flex items-end py-2 px-3 w-full py-2 px-3 rounded-md border-2 border-gray-300 mt-2"},
                 data: {'collapse-target': 'collapsible'} do |f| %>
      <section class="flex w-8/12 flex-col mb-3 border-b p-1">
        <div class="w-full flex">
          <%= f.text_field :name, class: "w-full focus:outline-none font-medium", placeholder: "Add a new group..." %>
        </div>
      </section>

      <aside class="w-4/12 ml-2">
        <button class="button__green rounded-full text-sm px-3 py-1 text-white focus:outline-none">
          Add this to-do
        </button>

        <button type="button" data-action="todos#hideForm" class="border border--green rounded-full text-sm px-3 py-1 text--green focus:outline-none">
          Cancel
        </button>
      </aside>
    <% end %>
  </section>


  <section class="w-full">
    <%= form_for [todo_set, todo_set.todos.new], html: {class: "flex flex-col items-center py-2 px-3 w-full p-2 py-2 px-3 rounded-md border border-gray-300 mt-2 hidden"}, data: {"todos-target": "form"} do |f| %>
      <div class="flex w-full flex-col mb-3">
        <div class="w-full flex">
          <div class="w-5 h-5 rounded border border-gray-400">
          </div>
          <%= f.text_field :name, class: "w-full border-b mx-3 border-transparent  focus:outline-none focus:border-gray-300", placeholder: "Describe this to-do" %>
        </div>
      </div>
      <hr class="w-11/12 bg-gray-400"/>

      <div class="flex w-full my-3">
        <div class="w-2/12">
          <label for="">Assigned to: </label>
        </div>

        <input type="text" class="w-8/12 border-b mx-3 border-transparent  focus:outline-none">
      </div>

      <hr class="w-11/12 bg-gray-400"/>
      <div class="flex w-full my-3">
        <div class="w-2/12">
          <label for="">Due on </label>
        </div>

        <input type="text" class="w-8/12 border-b mx-3 border-transparent  focus:outline-none" value="DO IT LIKE BASECAMP FFS">
      </div>

      <hr class="w-11/12 bg-gray-400"/>

      <div class="flex w-full my-3">
        <section class="w-full" data-todos-target="information">
          <div class="w-2/12">
            <label for="">Notes </label>
          </div>

          <button type="button" data-action="click->todos#showDescriptionContainer" class="w-full focus:outline-none text-left cursor-pointer text--placeholder">
            Add extra details or attach file
          </button>
        </section>

        <section class="hidden" data-todos-target="description">
          <%= f.rich_text_area :notes, class: "w-full my-2" %>
        </section>
      </div>

      <footer class="mt-3 w-full">
        <button class="button__green rounded-full text-sm px-3 py-1 text-white focus:outline-none">
          Add this to-do
        </button>

        <button type="button" data-action="todos#hideForm" class="border--green rounded-full text-sm px-3 py-1 text--green focus:outline-none">
          Cancel
        </button>
      </footer>
    <% end %>


    <%#= turbo_frame_tag "new_todo", src: new_user_project_todo_list_todo_path(current_user, @project, todo_set)%>
  </section>

  <footer>
    <button data-action="click->todos#showForm" class="px-2 text-sm py-1 border border-gray-300 rounded-full focus:outline-none focus:shadow-outline my-2">
      Add a to-do
    </button>

    <section class="w-full px-5" id="completed-todos-<%= todo_set.id %>">
      <% todo_set.todos.completed.each do |todo| %>
        <div class="w-full flex items-center justify-start my-1" id="completed-todo-<%= todo.id %>">
          <%= form_for [current_user, @project, todo_set, todo], method: :put do |f| %>
            <%= f.text_field :status, value: !todo.status, class: 'hidden' %>
            <button class="w-6 h-6 rounded-md bg--green flex justify-center items-center focus:outline-none" aria-label="toggle update status">
              <svg class="w-5 h-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
              </svg>
            </button>
          <% end %>

          <h1 class="mx-2 text--gray"><%= todo.name %></h1>
        </div>
      <% end %>
    </section>
  </footer>
</article>
