<!DOCTYPE html>
<html>
<head>
  <title>Basecamp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <meta name="no-preview">
</head>

<body class="bg-body h-screen relative">
<header data-controller="collapse">
  <nav class="w-full flex justify-between items-start px-2 py-2">
    <h1 class="text-xl text--darker font-medium">Basecamp</h1>

    <% if current_user %>
      <main class="text--gray">
        <ul class="flex">
          <li class="mx-2 flex">
            <%= link_to account_projects_path(account_id: current_user.account), class: "flex items-center" do %>
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
              </svg>
              Home
            <% end %>
          </li>
          <li class="mx-2">
            Hey
          </li>
          <li class="mx-2 flex">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            Activity
          </li>
          <li class="mx-2 flex">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z" clip-rule="evenodd"></path>
            </svg>
            My Stuff
          </li>
          <li class="mx-2 flex">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
            </svg>
            Find
          </li>
        </ul>
      </main>

      <div class="flex flex-col items-end relative">
        <% if current_user.image? %>
          <button class="focus:outline-none" data-action="click->collapse#show">
            <%= image_tag current_user.image, class: 'w-10 h-10 rounded-full' %>
          </button>
        <% end %>
        <%= link_to 'Adminland', account_path(id: current_user.account), class: 'text--gray font-italic' %>

      </div>
    <% end %>
  </nav>

  <article
    data-collapse-target="collapsible"
    class="absolute right-0 mr-5  bg-white rounded-md w-2/12 py-2 px-4" style="top: 50px">
    <header class="break relative my-2 flex justify-start">
      <div class="inline-block z-50 relative bg-white self-left text--darker font-bold">Notifications are on</div>

      <div class="absolute w-full h-1 border-b border-gray-300 left-0 right-0 mx-2" style="top: 50%; z-index: 1"></div>
    </header>

    <section class="w-full flex flex-col">
      <p class="text--gray text-sm">
        You’re set to receive email and browser notifications for everything all the time.
      </p>

      <div>
        <button class="px-2 py-1 bg-white rounded-full border border-gray-300 text-xs my-2">
          Turn on focus mode
        </button>
      </div>
    </section>

    <header class="break relative my-2 flex justify-start">
      <div class="inline-block z-50 relative bg-white self-left text--darker font-bold">Personal Settings</div>

      <div class="absolute w-full h-1 border-b border-gray-300 left-0 right-0 mx-2" style="top: 50%; z-index: 1"></div>
    </header>

    <section class="w-full">
      <ul class="w-full flex flex-col">
        <li class="block">
          <a href="" class="block w-full text-sm text--gray py-1">My profile
            <span class="text-xs">(Avatars, Timezones, etc)</span></a>
        </li>
        <li class="block">
          <a href="" class="block w-full text-sm text--gray py-1">My devises
            <span class="text-xs">get our mobile applications for free</span></a>
        </li>

        <li class="block">

          <%= form_tag destroy_user_session_path, method: :delete do %>
            <button type="submit" class="block w-full text-sm text--gray py-1 text-left focus:outline-none">
              Log out
            </button>
          <% end %>
        </li>
      </ul>
    </section>

  </article>
</header>


<div class="w-full flex flex-col justify-center items-center">
  <%= yield %>
</div>

<%= debug params %>
</body>
</html>
